.works-outer-container {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.works-body {
	margin-bottom: 10px;
}

.work {
	display: flex;
    flex-direction: row;
    margin-top: 30px;
	margin-bottom: 20px;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
}

.work-data {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    height: 30px;
    align-items: flex-start;
	margin-left: 20px;
}

.lower-work-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 30vw;
	justify-content: space-between;
}


.work-image {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	outline: 6px solid white;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
}

.work-title {
	font-size: 1.03vw;
	font-weight: 700;
	margin-top: -3px;
	color: var(--secondary-color);
}

.work-subtitle {
	font-size: 0.9vw;
	color: var(--secondary-color);
}

.work-duration {
	font-size: 0.9vw;
	text-align: right;
	color: var(--tertiary-color);
}

@media (min-width: 1900px) {
	.work { 
		height: 140px;
	}
	.lower-work-container {
		width: 650px;
	}
}


@media (max-width: 1000px){
	.work-image {
		width: 25px;
		height: 25px;
	}

	.work-data {
		justify-content: space-around;
	}
	.work-title {
		width: 58vw;
		font-size: 2.1vw;
		text-align: start;	
	}

	.work-subtitle, .work-duration {
		font-size: 2vw;
	}

	.works-outer-container {
		flex-direction: column;
	}

	.lower-work-container {
		width: 55vw;
	}
}