.card {
	mix-blend-mode: normal;
	border-radius: 20px;
	outline: 2px solid #f4f4f5;
	width: 45%;
}

.card-container {
	padding: 30px;
	padding-bottom: 5px;
}

.card-header {
	display: flex;
	align-items: center;
}

.card-icon {
	font-size: 15px;
	color: var(--tertiary-color);
}

.card-title {
	color: var(--secondary-color);
	font-size: 1.04vw;
	padding-left: 20px;
	font-weight: 650;
}

.card-body {
	font-size: 15px;
}

@media (max-width: 1000px){
	.card {
		width: 95%;
	}
	.card-title {
		font-size: 2.5vw;
	}
}