/* .page-content{
	height: 150vh;
} */

.contact-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
}

.contact-title{
	padding-bottom: 3%;
}

.form-container{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.contact-logo {
	display: flex;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 4vh;
}

.contact-subtitle {
	width: 80% !important;
}

.contact-container {
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: auto;
	margin-top: 90px;
	align-items: center;
	padding: 2%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.inner-contact-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	flex-wrap: wrap;	
}

.form-input {
	width: 80%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s ease;
}
  
.form-input:focus {
	outline: none;
	border-color: #007bff;
}
  
.submit-button {
	background-color: #007bffa7;
	color: #fff;
	margin-top: 20px;
	width: 50%;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}
  
.submit-button:hover {
	background-color: #007bff;
	scale: 1.1;
}


.socials-container {
	display: flex;
	flex-direction: column;
	margin-top: 80px;
}

.contact-socials {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.btn {
	background: #007bff;
	border: 0px solid rgb(0, 123, 255);
	border-radius: 35px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: none;
	transition: all .25s ease;
	width: 100%;
	position: relative;
	height: 60px;
	overflow: hidden;
	margin: auto;
}
.btn:not(.loading):hover {
	box-shadow: 0px 10px 25px 0px rgba(0, 123, 255, 0.4);
}
.btn:not(.loading):hover i {
	transform: translate(7px);
}
.btn i {
	font-size: 1.45rem;
	position: absolute;
	left: 0px;
	pointer-events: none;
	z-index: 10;
	background: inherit;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: all .25s ease;
}
.btn .text {
	width: 130px;
	display: block;
	position: relative;
	pointer-events: none;
	transition: all .25s ease;
	position: absolute;
	left: 60px;
}
.loading-animate {
	position: absolute;
	width: 60px;
	height: 60px;
	z-index: 100;
	border-radius: 50%;
	top: 0px;
	left: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	opacity: 0;
	transition: all .25s ease;
}
.loading-animate:after {
	content: '';
	width: 44px;
	height: 44px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-left: 3px solid #fff;
	animation: loading infinite .8s ease .05s;
	position: absolute;
}
.loading-animate:before {
	content: '';
	width: 44px;
	height: 44px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-left: 3px solid #fff;
	animation: loading infinite .8s linear;
	position: absolute;
	opacity: .6;
}
.btn.loading {
	width: 60px;
}
.btn.loading i {
	transform: rotate(-90deg);
	padding-bottom: 4px;
	padding-left: 3px;
}
.btn.loading .text {
	transform: translate(-140px);
}
.btn.loading .loading-animate {
	opacity: 1;
}
@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


@media (max-width: 600px){
	.contact-logo{
		top: 8vh;
		left: 2%;
	}
}
