.achievement {
  position: relative;
  overflow: hidden;
}

.achievement::before,
.achievement::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0%;
  background: rgb(27, 25, 25);
  transition: all 0.7s ease-out;
  z-index: 2; /* Lower z-index than text */
}

.achieve-desc {
  font-size: 16px;
  color: #FF5733;
  font-weight: bold;
  position: relative;
  z-index: 3; /* Higher z-index to stay on top */
}

.achievement:hover .achieve-desc {
  color: #ffffff; /* Change text color on hover */
}

.achievement::before {
  left: 0;
}

.achievement::after {
  right: 0;
  width: 0;
}

.achievement:hover::before {
  width: 84%;
}

.achievement:hover::after {
  width: 0%;
}

@media (max-width: 1024px) {
  .achievement:hover::before {
    width: 100%;
  }

  .achievement:hover::after {
    width: 0%;
  }
}
