.all-projects-container {
	border-radius: 20px;
	display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 2%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: flex-start;
	margin-left: -20px;
}

.all-projects-project {
	width: calc(100% / 3);
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
	
}

@media (max-width: 600px) {
	.all-projects-project {
		width: calc(100% / 2);
	}
}
