.homepage-container {
	margin-top: 17vh;
}

.homepage-first-area {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.homepage-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.homepage-title {
	width: 85% !important;
}

.homepage-subtitle {
	width: 85% !important;
}

.homepage-first-area-right-side {
	display: flex;
	align-items: center;
	justify-content: center;
}

.homepage-image-container {
	width: 370px;
}

.homepage-image-wrapper {
	overflow: hidden;
	border-radius: 10%;
	transform: rotate(3deg);
}

.homepage-image-wrapper img {
	width: 100%;
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 30px;
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.homepage-social-icon:hover {
	color: var(--primary-color);
}

.homepage-after-title {
	display: flex;
}

.homepage-projects {
	flex-basis: 300px;
	padding-top: 40px;
}

.homepage-articles {
	flex-basis: 900px;
	padding-top: 30px;
	margin-left: -30px;
}

.homepage-article {
	padding-bottom: 5px;
}

.homepage-works {
	padding-top: 60px;
}

.download-button-container {
	text-align: left; 
	margin-top: 20px;
	border-radius: 10px;
  }


.homepage-resume-social {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	justify-content: space-evenly;
}
  
.resume-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    gap: 10px;
    background: #ffffff;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
	border: 1.5px solid black;
	border-radius: 10px;
	padding: 6px;
}

.resume-btn::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
	color: white;
	border-radius: 10px;
}

.resume-btn:hover::before
{
    transform: scaleX(1);
    transform-origin: left;  
	color: white;
	border-radius: 10px;
}

.resume-btn span
{
    display: inline-block;
    z-index: 2;
    transition: 0.5s ease-in-out;
	border-radius: 9px;
}

.resume-btn:hover span
{
    color: rgb(27, 25, 25);
	color: white;
	border-radius: 9px;
}

.resume-btn i{
    position: relative;
    display: inline-block;
    width: 2px;
    height: 30px;
    background: rgb(219, 219, 6);
    transition: 0.5s, width 0.5s, height 0.5s;
    transition-delay: 0s, 0.5s, 1s;
	border-radius: 9px;
}

.resume-btn:hover i
{
    width: 30px;
    height: 2px;
    background: rgb(219, 219, 6);
    transition-delay: 0s, 1s, 0.5s;
}

.resume-btn i::before
{
    content: '';
    position: absolute;
    top: 0.5px;
    right: 0;
    width: 50%;
    height: 2px;
    background: transparent;
    rotate: 0;
    transform-origin: right;
    transition: 1s;
}

.resume-btn:hover i::before
{
    background: rgb(219, 219, 6);
    rotate: 45deg;
    transition-delay: 1.5s;
}
.resume-btn i::after
{
    content: '';
    position: absolute;
    top: -0.5px;
    right: 0;
    width: 50%;
    height: 2px;
    background: transparent;
    rotate: 0;
    transform-origin: right;
    transition: 1s;
}

.resume-btn:hover i::after
{
    background: rgb(219, 219, 6);
    rotate: -45deg;
    transition-delay: 1.5s;
}


@media (max-width: 1024px) {
	.homepage-container {
		margin-top: 0px;
	}

	.homepage-first-area {
		flex-direction: column;
	}

	.homepage-first-area-left-side {
		display: flex;
		flex-direction: column; /* Changed: set direction to column */
		align-items: flex-start;
		width: 100%;
		order: 2;
		margin-bottom: 30px;	
	}

	.homepage-title {
		width: 100% !important;
		margin-top: 20px;
		font-size: 12px;
	}

	.homepage-subtitle {
		width: 100% !important;
		margin-top: 10px;
		text-align: justify;
		font-size: 15px;
	}

	.homepage-first-area-right-side {
		width: 100%;
		order: 1;
	}

	.homepage-image-container {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-left: 10px;
		order: 1;
	}

	.homepage-after-title {
		flex-direction: column;
	}

	.homepage-projects {
		flex-basis: auto;
	}

	.homepage-articles {
		flex-basis: auto;
	}
}
