.projects-logo-container {
	background-color: white;
	display: flex;
	justify-content: left;
	padding-top: 25px;
}

.projects-logo {
	background-color: white;
	display: flex;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 4vh;
	z-index: 999;
}

.projects-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 60px;
}

.WorkArticleSec{
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	padding: 3%;
	margin-top: 5%;

}

@media (max-width: 600px) {
	.projects-container {
		padding-top: 60px;
	}

	.projects-project {
		width: calc(100% / 2);
	}
}

@media (max-width: 600px){
	.projects-logo{
		top: 8vh;
		left: 2%;
	}
}
